.flex{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.flex-around{
    justify-content: space-around;
    border: 1px solid lightgray;
    padding: 0px 5%;

}

.flex-child{
    display: flex;
}

.flex img{
    width: 100px;
}

.small-size {
    width: 10%;
}


.medium-size {
    width: 220px;
    margin: 0 auto;
}


.flex-center {
    display: flex;
    align-items: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.remove-button {
    padding-left: 10px;
}

.quantity-controls .RoundedButton{
    margin-left: 20px;
}