.text-left{
    text-align: left;
}


.flex {
    display: flex;
    align-items: center;
    
}

.margin-0{
    margin: 10px 20px 10px 0 !important;
}

.flex-start {
    justify-content: flex-start;
    
}

.flex-child {
    display: flex;
    width: 100%;
}

.flex img {
    width: 110px;
}


.small-size {
    width: 10%;
}

.medium-size {
    width: 220px;
    margin: 0 auto;
}

.checkout-form {
    width: 80%;
    margin: 20px auto 0 auto;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

.checkout-form form div {
    margin-bottom: 10px;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
}

.checkout-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "summary shipping"
    "summary shipping";
    padding: 40px;
}


.checkout-summary{
    grid-area: summary;
}

.checkout-form{
    grid-area: shipping;
}



input:focus {
    outline: none !important;
    border:2px solid #d5bbc4;
    box-shadow: 0 0 10px #d5bbc485;
}


