.center-grid {
    display: grid;
    place-items: center;
    height: max-content;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne uguali */
    gap: 50px; /* Spazio tra le card */
    padding: 30px 15%;
}

.bg-0 {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.products-grid > div {
    width: 100%; 
}

.products-grid img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}
